* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: #FAFAFA;
}

img {
    display: block;
    max-width: 100%;
    user-select: none;
    -webkit-user-drag: none;
}

.container {
    width: 100%;
    max-width: 1165px !important;
    padding: 0 15px;
    margin: 0 auto;
}

.header-btn {
    border: 1px solid #111111;
    border-radius: 50px;
    padding: 15px 30px;
    display: block;
    font-size: 16px;
}

.hf-container {
    width: 100%;
    max-width: 1300px;
    padding: 0 8px;
    margin: 0 auto;
}

.sit-btn {
    font-family: "Plus Jakarta Sans", sans-serif;
    padding: 20px 32px;
    background-color: #fff;
    color: #111111;
    font-size: 20px;
    font-weight: 600;
    line-height: 99%;
    border-radius: 40px;
    text-align: center;
    width: fit-content;
    display: block;
    text-transform: capitalize;
}

.sec-title {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    color: #016492;
    text-align: left;
}

.title {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 56px;
    font-weight: 600;
    line-height: 120%;
    color: #111111;
    text-align: left;
}

.title span {
    color: #016492;
}



/* R css */

.headingg {
    font-weight: 600;
    font-size: 120px;
    line-height: 110%;
    letter-spacing: -1px;
    color: #000000;
    word-spacing: 10px;
}

.headingg span {
    background: linear-gradient(180deg, #016492 0%, #4D3F9B 100%);
    background-clip: text;
    color: transparent;
}

/* R css end */




.slider-row {
    width: 100%;
    display: grid;
    grid-template-columns: max-content max-content max-content;
    overflow: hidden;
    --space: 20px;
}

.slider-track {
    width: auto;
    display: grid;
    grid-template-columns: repeat(8, max-content);
    padding-right: var(--space);
    animation: moove 30s linear infinite;
}

.bottom-row .slider-track {
    animation: mooveRev 30s linear infinite;
    transform: translateX(-100%);
}

.slider-track .slide {
    padding-right: var(--space);
}

.slider-track .slide img {
    width: 100%;
    max-width: 367px;
    display: block;
    object-fit: cover;
    border-radius: 18px;
    aspect-ratio: 367/270;
}

@keyframes moove {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}



@keyframes mooveRev {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

.bottom-row {
    padding-top: 30px;
}



.work-sec {
    width: 100%;
    padding: 120px 0;
    overflow: hidden;
}

.work-sec .title {
    text-align: center;
}

.work-sec .disc {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 150%;
    color: #111111dd;
    text-align: center;
    padding: 24px 0 40px;
}



.portfolio-sec {
    background-image: url('../images/project-bg.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.portfolio-sec .short-title {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    color: #fff;
}

.portfolio-sec .port-top {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 0;
}

.portfolio-sec .port-top .port-top-box {
    padding: 20px 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 120px;
}

.portfolio-sec .port-top .port-top-box::before {
    content: '';
    display: block;
    width: 16px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #016492;
}

.portfolio-sec .port-top .port-top-box .project-name {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 100%;
    color: #fff;
}

.portfolio-sec .port-top .port-top-box .port-top-box-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;
}
.portfolio-sec .port-top .port-top-box .port-top-box-right .site-logo{
    width: 100%;
    max-width: 80px;
    height: 80px;
    aspect-ratio: 80/80;
}
.portfolio-sec .port-top .port-top-box .port-top-box-right .arrow{
    width: 100%;
    max-width: 40px;
    height: 40px;
    aspect-ratio: 40/40;
}

.portfolio-sec .port-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #FFFFFF;
    padding-top: 40px;
}

.port-bot-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.port-bot-left .title {
    color: #fff;
}

.port-bot-left p {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 100%;
    color: #fff;
    max-width: 425px;
}

.port-bot-right a {
    text-transform: none;
}

.client-sec {
    width: 100%;
    padding: 120px 0;
}

.client-sec .title {
    max-width: 854px;
}

.client-sec .sit-btn {
    background-color: #016492;
    color: #fff;
}

.client-cntn {
    display: grid;
    grid-template-columns: 1fr 640px;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 17px 0 32px;
}

.client-cntn .cl-left p {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 150%;
    color: #111111dd;
    text-align: left;
    padding-bottom: 60px;
}

.client-cntn .cl-left .brand-lg {
    display: flex;
    align-items: center;
    gap: 12px;
}

.client-cntn .cl-left .brand-lg img {
    width: 100%;
    max-width: 167px;
    height: 56px;
    object-fit: contain;
}

.client-cntn .cl-left .brand-lg h4 {
    font-family: "Onest", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 100%;
    text-align: left;
    color: #71777E;
}

.cl-right {
    width: 100%;
    max-width: 640px;
    height: 390px;
}

.cl-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pass-sec {
    width: 100%;
    padding-bottom: 60px;
}

.pass-sec img {
    width: 100%;
    max-width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 24px;
    padding-bottom: 24px;
}

.pass-sec h4 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 150%;
    text-align: center;
    color: rgba(17, 17, 17, 0.87);
}

.logo-sec {
    width: 100%;
    padding: 60px 0 120px 0;
}

.mq-parent {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    overflow: hidden;
    --space: 100px;
}

.mq-inner {
    width: auto;
    display: grid;
    grid-template-columns: repeat(6, max-content);
    animation: MoveLogo 40s linear infinite;
}

.mq-coll {
    padding-right: var(--space);

}

.mq-coll img {
    width: 100%;
    max-width: 120px;
    height: 77px;
    object-fit: cover;
}

@keyframes MoveLogo {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

.team-sec {
    width: 100%;
    padding: 120px 0;
}

.team-sec .title {
    text-transform: capitalize;
}

.team-cntn {
    padding-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.team-cntn .tm-left {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.team-cntn .tm-left p {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 150%;
    color: #111111dd;
    text-align: left;
}

.team-cntn .tm-left a.sit-btn {
    background-color: #016492;
    color: #fff;
    font-size: 22px;
    padding: 18px 32px;
}

.team-cntn .tm-right {
    background-color: #016492;
    padding: 60px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 60px;
}

.team-cntn .tm-right .no-area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}

.team-cntn .tm-right .no-area h3 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 48px;
    font-weight: bold;
    line-height: 100%;
    color: #fff;
    text-align: center;
}

.team-cntn .tm-right .no-area span {
    font-family: "Onest", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
}

.team-cntn .tm-right .divider {
    width: 4px;
    height: 100%;
    background-color: #fff;
}

.experience-sec {
    width: 100%;
    padding: 99px 0;
    background-image: url(../images/Logo-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.experience-sec h1 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 80px;
    font-weight: bold;
    line-height: auto;
    color: #111111;
    text-align: center;
    text-transform: capitalize;
}

.experience-sec h1 span {
    color: #016492;
}

.services-sec {
    width: 100%;
    padding: 60px 0 60px;
}

.services-sec .sit-btn {
    background-color: #111111;
    color: #fff;
    padding: 16px 32px;
}

.serv-cntn {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.serv-box-holder {
    margin-top: -16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.serv-box-holder .serv-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 0 20px 0 #1010101f;
}

.serv-box-holder .serv-box img {
    width: 80px;
    height: 80px;
    aspect-ratio: 1/1;
}

.serv-box-holder .serv-box h2 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    color: #000;
}

.serv-box-holder .serv-box p {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
    color: #111111dd;
}

.serv-box-holder .serv-box a.sit-btn {
    font-size: 14px;
}

.serv-cntn .ext-btn {
    margin: 0 auto;
}

.conservation-sec {
    width: 100%;
    padding: 60px 0 120px;
}

.cons-cntn {
    width: 100%;
    background-color: #016492;
    padding: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.cons-cntn .btns {
    display: flex;
    gap: 16px;
}

.cons-cntn .btns .bd {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.cons-cntn h2 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 130%;
    color: #fff;
    text-align: left;
}


.feedback-sec {
    background-image: url('../images/Feedback-bg.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fd-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.fd-top .title {
    color: #fff;
}

.fd-top p {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 100%;
    color: #fff;
}

.rev-card {
    width: 100%;
    max-width: 770px;
    height: 408px;
    padding: 40px;
    border: 1px solid #FFFFFF3D;
    border-radius: 24px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 32px;
}

.rev-card .rev-cd-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rev-card .rev-cd-top .cd-top-let {
    display: flex;
    align-items: center;
    gap: 23px;
}

.rev-card .rev-cd-top .cd-top-let img {
    width: 100%;
    max-width: 80px;
    height: 80px;
    object-fit: cover;
    aspect-ratio: 80/80;
}

.rev-card .rev-name {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 120%;
    color: #fff;
}

.rev-card .rev-pos {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 120%;
    color: #016492;
}

.rev-card .rev-disc {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    color: #fff;
}

footer {
    width: 100%;
}

.ft-top-inner {
    padding: 120px 0 40px;
    display: grid;
    grid-template-columns: 1fr 430px;
    gap: 50px;
}

.ft-left {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.ft-left h2 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 130%;
    color: #000;
    text-align: left;
}

.ft-left .links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ft-left .links li a {
    display: flex;
    align-items: center;
    gap: 4px;
}

.ft-left .social-links li a img {
    width: 24px;
    height: 24px;
    aspect-ratio: 1/1;
}

.ft-left .links li a span {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    color: #111111;
}

.ft-right {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.ft-right .social {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: #111111;
    border-radius: 12px;
}

.ft-right .social h5 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 120%;
    color: #fff;
}

.ft-right .social ul {
    display: flex;
    align-items: center;
    gap: 10px;
}

.ft-right .social ul li a {
    width: 38px;
    height: 38px;
    background-color: #016492;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.ft-right .social ul li a img {
    width: 24px;
    height: 24px;
    aspect-ratio: 1/1;
}

.ft-right .social ul li a span {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    color: #fff;
}

.ft-right .ft-start-box {
    padding: 28px 56px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    background-color: #016492;
    border-radius: 12px;
}

.ft-right .ft-start-box h3 {
    font-family: "Onest", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 124%;
    color: #fff;
    text-align: center;
}

.ft-right .ft-start-box p {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    color: #fff;
    text-align: center;
}

.ft-right .ft-start-box a.sit-btn {
    font-size: 22px;
    margin-top: 34px;
    width: -webkit-fill-available;
}

.footer-bottom {
    width: 100%;
    padding: 16px 0;
}

.fb-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fb-inner p {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    color: #111111dd;
}

.fb-inner ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

.fb-inner ul li a {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    color: #111111dd;
}